{{> head }}

{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1>Warriors</h1>
        <p>
        Texto de relleno de Warriors
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/1.png" class="img-thumbnail">
    </div>

</div>



{{> footer }}